.recent-post-img{
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.blog-recent-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blog-recent-tag {
  display: block;
  background-color: $blue;
  padding: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}