.header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  transition: all 0.35s ease;
  background-color: #fffad1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.25rem;
  height: 4.25rem;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1.25rem;
}

.brand {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -3px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #5035ff;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  transform: rotate(0deg);
  transition: 0.35s ease;

  // Media Query Breakpoint
  @media only screen and (min-width: 768px) {
     display: none;
     visibility: hidden;
  }

  &-line {
     position: absolute;
     display: block;
     left: 0;
     width: 100%;
     height: 2px;
     opacity: 1;
     border-radius: 1rem;
     transform: rotate(0deg);
     background-color: #000;
     transition: 0.25s ease-in-out;

     &:nth-child(1) {
        top: 0px;
     }
     &:nth-child(2) {
        top: 0.5rem;
        width: 70%;
     }
     &:nth-child(3) {
        top: 1rem;
     }
  }

  &.is-active .burger-line {
     &:nth-child(1) {
        top: 0.5rem;
        transform: rotate(135deg);
     }
     &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
     }
     &:nth-child(3) {
        top: 0.5rem;
        transform: rotate(-135deg);
     }
  }
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2rem 0 3rem;
  overflow: hidden;
  background-color: #fffad1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
  
  &.is-active {
     top: 0;
     width: 100%;
     height: auto;
  }

  &-inner {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     gap: 1.25rem;
     list-style: none;

     a {
      text-decoration: none;
     }
  }

  &-item {
    transition: all 0.1s ease;
    &:hover {
      border-radius: 4px;
      border-bottom: 4px solid #f5d0a2;
    }
  }

  &-link {
     font-size: 1rem;
     font-weight: 500;
     line-height: 1.5;
     color: #000;
     text-transform: uppercase;
     transition: all 0.3s ease;
  }

  &-block {
     display: inline-block;
     font-size: 0.875rem;
     font-weight: 500;
     line-height: 1.25;
     text-align: center;
     margin-left: auto;
     padding: 0.65rem 1.5rem;
     border-radius: 3rem;
     color: #fff;
     background-color: #5035ff;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);;
     transition: all 0.3s ease-in-out;
     text-decoration: none;

     &:hover {
      opacity: 0.7;
     }
  }

  @media only screen and (min-width: 768px) {
     position: relative;
     top: 0;
     width: auto;
     height: auto;
     padding: 0rem;
     margin-left: auto;
     background: none;
     box-shadow: none;

     &-inner {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin: 0 auto;
     }

     &-link {
        text-transform: capitalize;
     }

     &-block {
        margin-left: 2rem;
     }
  }
}

// footer

footer {
  width: 100%;
  height: auto;
  background-color: #fffad1;
  margin: 0 auto;

  .footer-container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 2.25rem 1.25rem;
  }

  .footer-newsteller {
    margin: 0 auto;
    max-width: 615px;
    
    p {
      font-weight: 300;
      font-size: 18px;
    }

    div {
      display: flex;
      input {
        box-sizing: border-box;
        padding: 10px 10px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;

        &:focus {
          border: none;
        }
      }
      
      button {
        padding: 10px 10px;
        border-radius: 0 15px 15px 0;
        font-weight: 700;
        border: 1px solid #f8d09f;
        background-color: #f8d09f;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  
  .footer-links {
    .company {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 10px;
      
      h2 {
        font-size: 18px;
      }

      a {
        color: #000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;    

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      gap: 10px;
      justify-content: space-around;
      align-items: center;

      .footer-newsteller {
        margin: 0;
      }
    }
 }
}
