.admin-layout {
  max-width: 1300px;
  padding: 20px;
}

.admin-navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  flex-wrap: wrap;
  background-color: #fcf9f4;
  gap: 2px;

  a {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
}

.admin-inbox {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 50px;

  h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 30px 0;
  }
}

// table

.admin-table {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  @media screen and (max-width: 850px) {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
  &:nth-of-type(odd) {
    background: #e9e9e9;
  }
  &.admin-table-header {
    font-weight: 700;
    color: #ffffff;
    background: #ea6153;
  }
  &.green {
    background: #27ae60;
  }
  &.blue {
    background: #2980b9;
  }
  &.yellow {
    background: #ffc107;
  }
  @media screen and (max-width: 850px) {
    padding: 14px 0 7px;
    display: block;
    &.admin-table-header {
      padding: 0;
      height: 6px;
      .cell {
        display: none;
      }
    }
    .cell {
      margin-bottom: 10px;
      &:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
      }
    }
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 850px) {
    padding: 2px 16px;
    display: block;
  }
}

// message modal

.admin-message-modal {
  position: fixed;
  max-width: 400px;
  padding: 20px;
  max-height: 200px;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fcf9f4;
  overflow: auto;
  z-index: 30;

  .admin-message-modal-content {
    text-align: center;

    button {
      margin: 20px auto;
      padding: 5px;
      background-color: #ea6153;
      border-radius: 4px;
      color: #fff;
    }
  }
}
