.auth-right-layout {
  width: 100%;
}
.auth-box {
  max-width: 450px;
  padding: 80px;
  border: 1px solid #000;
  border-radius: 30px;
  display: block;
  margin: 40px auto;

  h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 35px;
  }

  form {
    label {
      font-size: 18px;
    }
    input {
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }

  .remember-me {
    display: flex;
    align-items: center;
    label {
      display: inline;
      margin-top: 15px;
    }
    input {
      width: 20px;
      display: inline;
    }
  }

  div {
    input {
      margin-top: 15px;
      margin-right: 6px;
      display: inline;
    }
  }

  .auth-input {
    padding: 13px 24px;
    border-radius: 10px;
    border: 1px solid #000;

    &::placeholder {
      color: #000;
    }
    &.top {
      margin-bottom: 35px;
    }
  }
}

.auth-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
  button {
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    padding: 15px 35px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
  }
}
