.blog-layout {
  max-width: 1300px;
  margin: 0 auto;
}

.blog-main-section {
  display: flex;
  gap: 50px;
}

.blog-post-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  align-items: start;
  margin-bottom: 50px;
  width: 100%;

  .post-grid-item {
    min-width: 280px;
    box-sizing: border-box;
  }
}

.blog-top-section {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.blog-filter {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;
  width: 100%;

  .blog-filter-search {
    position: relative;
    input {
      width: 100%;
      border: 2px solid #ccc;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: transparent;
    }

    svg {
      right: 10px;
      bottom: 15px;
      position: absolute;
    }
  }

  div {
    width: 100%;
  }
  h2 {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    div {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}
