.contact-layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  .contact-info {
    max-width: 500px;
    width: 100%;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 24px;
      line-height: 35px;
      letter-spacing: 2px;
      margin-bottom: 60px;
    }

    .contact-info-contact {
      display: flex;
      justify-content: space-between;

      h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
      }

      p {
        margin-bottom: 6px;
      }
    }
  }

  .contact-form {
    background-color: #6b7946;
    border-radius: 15px;
    color: #e1ffff;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    p {
      margin-top: 5px;
      color: #ffc0c0;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin: 10px 0 0 0;
      padding: 10px;
      color: #464f2e;
      font-weight: 600;
      border-radius: 4px;
      background-color: #f3f2f1;
    }

    label {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    div {
      margin-bottom: 25px;
    }

    .contact-form-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      button {
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
        border: 2px solid #e1ffff;
        border-radius: 10px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #e1ffff;
          color: #6b7946;
        }
      }
    }
  }

  .contact-map {
    margin-top: 40px;
  }

  @media only screen and (max-width: $tablet) {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .contact-info {
      h2 {
        font-size: 24px;
        text-align: center;
      }
      h3 {
        font-size: 20px;
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .contact-info-contact {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
    }

    .contact-form {
      padding: 20px;

      input,
      textarea {
        padding: 6px;
      }

      label {
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
}
