header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  nav {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
  }

  @media only screen and (max-width: 768px) {
    nav {
      padding: 0 20px;
    }
  }
}

.header-desktop-nav {
  display: flex;
  font-size: 18px;

  .logo {
    margin-right: 80px;
  }

  ul {
    display: flex;
    gap: 40px;
  }
  @media only screen and (max-width: 1100px) {
    .nav-more {
      display: none;
    }
  }

  @media only screen and (max-width: 1024px) {
    ul {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .logo {
      margin-right: 40px;
    }
  }
}

.header-icons {
  display: flex;
  gap: 50px;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  .header-icons-right {
    gap: 30px;

    img {
      min-width: 20px;
      min-height: 20px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .header-settings {
      display: none;
    }
  }

  @media only screen and (max-width: 450px) {
    gap: 20px;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .mobile-nav-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      flex-direction: column;
      p {
        margin-bottom: 8px;
      }
    }
  }

  .mobile-nav-top {
    width: 100%;
    margin-bottom: 40px;
    ul {
      width: 100%;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
      letter-spacing: 1px;

      a {
        margin: 0;
        padding: 0;
        width: auto;
      }
    }
  }
}

.header-auth {
  display: flex;
  gap: 4px;
}

// cart icon

.cart-icon {
  display: block;
  // border: 1px solid #000;
  // border-radius: 8px;
  // padding: 5px;
  // height: 20px;
  position: relative;
  cursor: pointer;

  span {
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    display: block;
    position: absolute;
    top: -13px;
    right: -9px;
    background-color: red;
    color: #fff;
    border-radius: 100%;
    font-weight: 800;
  }
}

.menu-block {
  position: relative;

  img {
    border-radius: 9999px;
    border: 1px solid #9b9b9b;
  }

  span {
    font-size: 12px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 4px;
  }

  &:hover {
    img {
      outline: 2px solid #9b9b9b;
    }
  }
}

// mobile menu

.mobile-menu-bg-none {
  display: none;
}

.mobile-menu-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 8;
  left: 0;
  top: 0;

  @media only screen and (min-width: 1201px) {
    display: none;
  }
}

.mobile-menu {
  height: 100vh;
  padding: 20px;
  width: 280px;
  background-color: #e8e8e8;
  position: fixed;
  right: -280px;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;

  .close {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: -30px;

    &.closed {
      display: none;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #242424;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    a {
      color: #242424;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  &.active {
    right: 0;
  }

  @media only screen and (min-width: 1201px) {
    display: none;
  }
}

.hamburger-menu {
  @media only screen and (min-width: 1201px) {
    display: none !important;
  }
}

.header-settings {
  display: flex;
  gap: 20px;
}
