.home-hero {
  padding: 60px 20px 60px 20px;
  width: 100%;
  height: 350px;
  background-image: url(../public/assets/images/mainHero.jpg);
  background-position: 10%;
  .home-hero-layout {
    max-width: 1300px;
    margin: 0 auto;
  }
  h1 {
    color: #000;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.9);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    span {
      color: #001385;
    }
  }

  p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626,
      0 22px 30px rgba(0, 0, 0, 0.9);
    max-width: 980px;
    margin: 30px auto 0 auto;
  }

  @media screen and (max-width: 650px) {
    padding: 60px 20px 60px 20px;

    // h1 {
    //   font-size: 28px;
    // }

    p {
      margin-top: 15px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 30px 20px 60px 20px;

    // h1 {
    //   font-size: 28px;
    // }

    p {
      margin-top: 15px;
      font-size: 16px;
    }
  }
}

.home-about-us {
  padding: 50px 20px;

  h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 10px;

    span {
      letter-spacing: 2px;
      color: orange;
    }
  }
}

.home-about-logo {
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #444444;
  padding: 20px;
  svg {
    width: 100px;
    height: 100px;
  }
}

.home-about-us-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .home-about-us-types {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;

    div {
      background-color: #b9d484;
      padding: 15px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
      line-height: 1.7;
      font-size: 18px;
      span {
        font-weight: 500;
      }
    }

    a {
      display: inline-block;
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 7px;
      font-weight: 600;
      padding: 4px 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.home-roadmap-container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;

  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 30px 0;
  }
}

.home-roadmap-sections {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  a {
    padding: 30px;
    color: #fff;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    flex: 1;
    display: flex;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      h2 {
        transform: scale(1.07);
      }
      p {
        transform: scale(1.05);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 400px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }

    div {
      position: inherit;
      z-index: 1;
      display: flex;
      gap: 15px;

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }

    div h2 {
      font-size: 24px;
      font-weight: 600;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }

    div p {
      font-weight: 500;
      font-size: 18px;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }
  }

  a:first-child {
    background-image: url(../public/assets/images/secondHeader/addProduct.png);
  }

  a:nth-child(2) {
    background-image: url(../public/assets/images/secondHeader/addCampsite.jpg);
  }

  a:last-child {
    background-image: url(../public/assets/images/secondHeader/blog.webp);
  }
}

.home-recent-products-container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 80px auto 40px auto;
}

.recent-products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  div:first-child {
    h3 {
      font-size: 24px;
      color: #444444;
    }
  }
}

.recent-products-slider {
  .swiper-wrapper {
    margin-bottom: 30px;
  }
}
