.profile-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.profile-user {
  height: 100%;
  display: flex;
  min-width: 300px;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 10px 1px rgba(221, 221, 221, 1),
    0 10px 20px rgba(204, 204, 204, 1);

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  p {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }

  a {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 800;
    background-color: #ff0000;
    color: #ffffff;
    border: 2px solid #ff0000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #ff0000;
    }
  }

  @media only screen and (min-width: $tablet) {
    p {
      font-size: 22px;
    }
  }
}

.profile-form {
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 10px 1px rgba(221, 221, 221, 1),
    0 10px 20px rgba(204, 204, 204, 1);

  fieldset {
    border: none;

    legend {
      font-size: 20px;
      font-weight: 700;
      padding: 10px 0;
    }
  }

  label {
    display: block;
    font-size: 17px;
  }

  input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    margin: 5px 0 15px 0;

    &:focus {
      outline: 1px solid $blue;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    &:read-only {
      color: rgba($color: #000000, $alpha: 0.5);
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  button {
    display: block;
    margin: 20px auto 0;
    color: #fff;
    border: 1px solid $blue;
    background-color: $blue;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $blue;
    }
  }

  @media only screen and (min-width: $tablet) {
    legend {
      font-size: 22px;
      margin: 20px 0;
    }

    label {
      font-size: 18px;
    }

    input {
      font-size: 18px;
      margin: 5px 0 20px 0;
    }

    button {
      font-size: 18px;
    }
  }
}

.profile-input-container {
  display: flex;

  .input-button {
    margin: 5px 0;
    border-radius: 0 6px 6px 0;
    height: 37px;
  }

  @media only screen and (min-width: $tablet) {
    .input-button {
      height: 43px;
    }
  }
}
