.products-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  margin-top: 70px;
  padding: 0 20px;
}

.products-filter-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-filter-container {
  min-width: 280px;
  width: 280px;
}

.products-filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;

  li {
    display: flex;
    justify-content: space-between;
  }
}

.products-city-select {
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  padding: 6px 10px;
}

// products grid

.products-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  align-items: start;
  margin-bottom: 50px;

  .grid-product {
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
  }
}
