.products-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  padding: 0 20px;
}

.products-filter-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-filter-container {
  min-width: 280px;
  width: 280px;

  @media only screen and (max-width: 900px) {
    position: fixed;
    left: -300px;
  }
}

.products-filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;

  li {
    display: flex;
    justify-content: space-between;
  }
}

.products-city-select {
  background-color: #fcf9f4;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  padding: 6px 10px;
}

// products grid

.products-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  align-items: start;
  margin-bottom: 50px;

  .grid-product {
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
  }
}

// products top filter

.products-top-filter-container {
  max-width: 1300px;
  margin: 60px auto 20px auto;
  display: flex;
  padding: 0 20px;
  gap: 50px;
  @media only screen and (max-width: 600px) {
    gap: 10px;
  }
  .products-top-filter-left {
    width: 280px;
    min-width: 280px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

    @media only screen and (max-width: 900px) {
      min-width: 110px;
      width: auto;
      font-size: 16px;
      gap: 4px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 14px;
      min-width: 95px;
    }
  }

  .products-top-filter-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .products-top-filter-sort-right {
    display: flex;
    align-items: center;
  }

  .products-top-filter-search {
    max-width: 350px;
    width: 100%;
    padding-right: 20px;
    input {
      padding: 6px 12px;
      background-color: #fcf9f4;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 100%;
    }
    @media only screen and (max-width: 1000px) {
      padding-right: 10px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 14px;
    }
  }

  .products-top-filter-sort {
    padding: 0 20px;

    select {
      border: 1px solid #ccc;
      background-color: #fcf9f4;
      padding: 6px 12px;
      border-radius: 10px;
    }

    @media only screen and (max-width: 1000px) {
      padding: 0 10px;
    }
    @media only screen and (max-width: 650px) {
      padding: 0;
      select {
        font-size: 16px;
        padding: 6px 4px;
        width: 80px;
      }
    }
    @media only screen and (max-width: 450px) {
      select {
        font-size: 14px;
        width: 75px;
      }
    }
  }

  .products-top-filter-view {
    height: 38px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    svg {
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.products-wide-display-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

// price slider

.products-price-slider {
  margin: 30px 0;
  cursor: pointer;
}

.horizontal-slider {
  background-color: rgb(255, 255, 255);
  height: 4px;
}

.example-track-0,
.example-track-2 {
  height: 5px;
  background-color: #c74f2d;
}

.example-track-1 {
  height: 6px;
  background-color: #669a3e;
}

.example-thumb-0,
.example-thumb-1 {
  top: -17px;
  cursor: pointer;
  background-color: #31463a;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  // border-radius: 0 0 15px 15px;
}

.products-filter-condition,
.products-filter-type {
  margin-bottom: 30px;
  div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}
