.single-blog-header {
  margin: 0 0 25px 0;
  position: relative;

  .single-blog-header-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: #fff;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    width: 100%;
    padding: 0 20px;

    span:first-child {
      color: #000;
    }

    @media screen and (max-width: 650px) {
      gap: 10px;
      h1 {
        font-size: 28px;
      }
    }
    @media screen and (max-width: 450px) {
      h1 {
        font-size: 24px;
      }
    }
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    max-width: 850px;
    width: 100%;
  }

  p {
    padding: 0 20px;
    position: absolute;
    bottom: 30px;
    max-width: 850px;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px #000;
    min-width: 290px;
    width: 100%;
    max-height: 147px;
    overflow: hidden;

    @media screen and (max-width: 650px) {
      font-size: 14px !important;
    }
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .blog-header-container {
    position: relative;
    height: 400px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 400px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
    }
  }

  div {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    font-size: 14px;

    span:first-child {
      background-color: #fff;
      font-size: 13px;
      padding: 4px 8px;
      border-radius: 8px;
    }

    span:last-child {
      display: flex;
      align-items: center;
      gap: 4px;

      a {
        text-decoration: underline;
      }
    }
  }
}

.single-blog-text {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;

  ol {
    li {
      font-weight: 600;
      padding-left: 5px;
      margin: 10px 0;

      &::before {
        content: "- ";
      }
    }
  }

  a {
    text-decoration: underline;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0 5px 0;
    text-align: center;
  }

  p {
    margin: 10px 0;
    line-height: 1.7;
  }

  h2 {
    // display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 0 15px 0;
    font-weight: 600;
  }

  h3 {
    font-weight: 600;
    // text-decoration: underline;

    &::before {
      content: "- ";
    }
  }

  img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
  }
}

.single-blog-footer {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  padding: 20px;
  margin: 5px auto 40px auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .blog-socials {
    display: flex;
    gap: 20px;
  }
}

.single-blog-page-buttons {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 30px;
}

.blog-edit-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 85%;
  max-height: 85%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #ebe9df;
  z-index: 30;
  overflow: auto;
  padding: 20px;

  .blog-edit-modal-content {
    max-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blog-edit-modal-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
      color: #fff;

      button {
        padding: 4px 10px;
        border-radius: 10px;
      }

      button:first-child {
        background-color: #c74f2d;
      }

      button:last-child {
        background-color: #669a3e;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
    }

    form {
      width: 100%;

      label {
        margin-bottom: 4px;
      }

      input,
      select,
      textarea {
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: #fcf9f4;
        padding: 4px 10px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.single-blog-add-comment {
  max-width: 850px;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1px solid #ccc;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .upload-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcf9f4;
    padding: 15px 0;

    button {
      background-color: #669a3e;
      color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
    }

    #file-upload {
      max-width: 250px;
    }
    input {
      margin: 5px 0 10px;
      padding: 4px 4px;
      border-radius: 6px;
      border: 1px solid #ccc;
      min-width: 260px;
    }
  }

  .single-blog-add-comment-form {
    label {
      margin: 20px 0 5px 0;
      font-weight: 600;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .add-comment-button {
      display: flex;
      justify-content: center;
      button {
        background-color: #669a3e;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 0 auto;
      }
    }

    input,
    textarea {
      padding: 4px 15px;
      border-radius: 6px;
      background-color: #fcf9f4;
    }

    .blog-add-comment-rating {
      flex-direction: row;
      margin: 15px 0;
    }
  }
}
