.single-campsite-page {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

.single-camp-header {
  padding: 24px 0;

  .single-camp-header-navigation {
    display: flex;
    align-items: center;
    font-size: 14px;

    a {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 6px 0;
  }

  .single-camp-header-review-location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }

  .single-camp-share {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
}

.single-camp-slider {
  display: flex;
  .single-camp-slider-top {
    margin-right: 30px;
    border-radius: 15px;

    .swiper-wrapper {
      max-width: 910px;
      max-height: 600px;
      height: 100%;
      .swiper-slide {
        max-width: 910px;
        max-height: 600px;
        height: 100%;
      }
    }
  }

  .single-camp-slider-main-photo {
    max-width: 910px;
    max-height: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .single-camp-slider-bottom {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-end;
      margin-right: 30px;
      max-height: 910px;

      .swiper-slide {
        flex: 1;
        max-width: 276px;
        width: 100% !important;
        max-height: 150px;
        height: 100%;
        margin: 0 !important;

        img {
          border-radius: 15px;
          max-height: 135px;
          object-fit: cover;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;

    .single-camp-slider-top {
      margin: 0;
      margin-bottom: 20px;
      .swiper-wrapper {
        width: 100%;
        // max-width: 670px;
        margin: 0;
        max-height: 320px;
        height: 100%;

        .swiper-slide {
          width: 100%;
          // max-width: 670px;
          max-height: 320px;
          height: 100%;
        }
      }
    }

    .single-camp-slider-main-photo {
      width: 100%;
      // max-width: 670px;
      height: 320px;
    }

    .single-camp-slider-bottom {
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        .swiper-slide {
          margin: 0 !important;
        }
      }
    }
  }
}

.single-camp-welcome {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  gap: 20px;
  background-color: #fcf9f4;
  border-radius: 10px;
  flex-wrap: wrap;

  .welcome-none {
    display: none;
  }

  .single-camp-welcome-child {
    padding: 0 20px;
    border-right: 1px solid #ccc;

    &:last-child {
      border: none;
    }
  }

  span {
    font-size: 14px;
  }

  p {
    font-weight: 600;
    margin-top: 8px;
  }
}

.single-camp-icons {
  display: flex;
  gap: 10px;
}

.single-camp-host {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 40px;

  .single-camp-host-image {
    display: flex;
    align-items: center;
  }

  .single-camp-host-number {
    span {
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      font-weight: 600;
    }
  }

  img {
    max-width: 70px;
    min-width: 70px;
    // width: 100%;
    min-height: 70px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 20px;
  }

  h2 {
    font-size: 18px;

    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .all-ads {
    font-size: 14px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.single-camp-description {
  h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 25px 0 10px 0;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.single-camp-activities {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.single-camp-location {
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    height: 400px;
    border-radius: 15px;
  }
}

.single-camp-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.campsite-camp-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .single-camp-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .single-camp-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .single-camp-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.single-campsite-edit-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  max-width: 500px;
  width: 100%;
  max-height: 80%;
  overflow: auto;
  background-color: #fcf9f4;
  padding: 20px;

  .camp-edit-price {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0 5px 0;
  }

  .input-block {
    input,
    textarea,
    select {
      display: block;
      width: 100%;
      padding: 4px;
    }
  }

  label {
    margin: 4px 0 10px 0;
  }

  .single-camp-edit-buttons {
    margin: 10px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    button:first-child {
      background-color: #c74f2d;
    }

    button:last-child {
      background-color: #22c03d;
    }

    button {
      padding: 4px 10px;
      color: #fff;

      border-radius: 5px;
    }
  }
}

.single-camp-header-buttons {
  display: flex;
  margin: 15px 0;
  gap: 50px;
  font-size: 14px;

  button:last-child {
    color: #f32013;
  }

  button {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.single-camp-add-review {
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin: 30px 0;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .upload-photo {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fcf9f4;
    padding: 10px 0;
    border-radius: 10px;
    gap: 30px;

    button {
      background-color: #669a3e;
      color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
    }

    #file-upload {
      max-width: 250px;
    }

    label {
      font-weight: 600;
    }
    input {
      margin: 0;
      padding: 4px 4px;
      border-radius: 6px;
      border: 1px solid #ccc;
      min-width: 260px;
    }
  }

  .single-blog-add-comment-form {
    label {
      margin: 20px 0 5px 0;
      font-weight: 600;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .add-comment-button {
      display: flex;
      justify-content: center;
      button {
        background-color: #669a3e;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        margin: 0 auto;
      }
    }

    input,
    textarea {
      padding: 4px 15px;
      border-radius: 6px;
      background-color: #fcf9f4;
    }

    .campsite-add-recommend {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin: 20px 0;
      flex-wrap: wrap;

      .camp-recommend {
        background-color: #000;
        color: #fff;
      }

      div {
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 10px;
        color: #000;
        cursor: pointer;
        font-weight: 600;
      }

      // div:first-child {
      //   color: #22c03d;
      //   border: 1px solid #22c03d;
      // }

      // div:last-child {
      //   border: 1px solid #f32013;
      //   color: #f32013;
      // }
    }
  }
}

.single-camp-reviews-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}

.single-camp-reviews-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 70px;
}

.single-camp-reviews-layout > div {
  padding: 16px;
}

@media (max-width: 768px) {
  .single-camp-reviews-layout {
    grid-template-columns: 1fr;
  }
}

.single-camp-review-info {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;

  p {
    font-size: 14px;
  }
}

.single-camp-review-image {
  position: relative;
  img {
    max-width: 50px;
    min-width: 50px;
    width: 100%;
    height: 50px;
    border-radius: 100%;
  }

  .recommend-icon {
    position: absolute;
    bottom: -1px;
    right: -10px;
    border-radius: 100%;
    padding: 8px;
    background-color: #000;

    &.not {
      background-color: #c74f2d;

      svg {
        transform: rotate(90deg);
        transform: rotateX(180deg);
      }
    }
  }
}

.single-camp-review-user {
  span {
    font-size: 14px;
  }
  h3 {
    display: inline-block;
    font-weight: 600;
  }
}

.single-camp-review-img {
  max-height: 300px;
  width: auto;
  object-fit: cover;
  margin: 15px 0 0 0;
}
