$background-color-dark: #292a32;
$background-color-light: #eef6f0;
$complimentary-color-dark: #393b43;
$complimentary-color-light: #feffff;
$light-main: #ebe9df;
$dark-main: #213329;
$dark-secondary: #262624;
$green-medium: #28583e;

.app {
  background-color: $light-main;
  color: $dark-main;

  header,
  footer {
    background-color: $light-main;
    color: $dark-main;
  }
}

.app.dark-mode {
  background-color: $dark-main;
  color: $light-main;

  // header & footer
  header,
  footer {
    background-color: $dark-main;
    color: $light-main;
  }

  header {
    nav {
      color: $light-main;
      background-color: $dark-secondary;
    }
  }

  .header-top {
    .top-logo {
      svg {
        g {
          fill: $light-main !important;
        }
      }
    }

    .header-top-left {
      path {
        stroke: $light-main;
        fill: $dark-main;
      }
    }

    .header-top-right {
      color: $dark-main;
      path {
        stroke: $light-main;
        fill: $dark-main;
      }

      .dropdown-menu {
        background-color: $dark-main;
        g {
          path {
            fill: $light-main;
          }
        }
        path {
          fill: none;
        }
        #user-admin {
          path {
            stroke: none;
          }
        }
        a {
          color: $light-main;
        }

        li {
          &:hover {
            background-color: $green-medium;
          }
        }

        &::before {
          background-color: $dark-main;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
      }
    }
  }

  .footer-bottom {
    color: $light-main;
    background-color: $dark-secondary;
  }

  .footer-first {
    div {
      svg {
        fill: $light-main;
      }
    }
    .linkedin-svg {
      path {
        fill: $light-main !important;
      }
    }
  }

  .footer-logo {
    svg {
      g {
        fill: $light-main !important;
      }
    }
  }

  // home

  .home-about-us-container {
    .home-about-us-types {
      div {
        background-color: $green-medium;

        path {
          fill: $light-main;
        }
      }
    }
  }

  .home-recent-products-container {
    .recent-products-header {
      h1,
      h3 {
        color: $light-main;
      }
    }
    svg {
      fill: $light-main;
    }

    .home-see-all {
      a {
        background-color: $green-medium;
      }
    }

    .recent-campsites-card {
      background-color: $green-medium;
    }
  }

  // profile
  .profile-form,
  .profile-user {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 1px rgb(36, 36, 36), 0 10px 20px rgb(24, 24, 24);

    input:read-only {
      color: rgba($light-main, 0.4);
    }
  }

  // blog
}
