$background-color-dark: #292a32;
$background-color-light: #eef6f0;
$complimentary-color-dark: #393b43;
$complimentary-color-light: #feffff;
$light-main: #ebe9df;
$dark-main: #213329;
// $dark-main: #1f2c2e;
$dark-secondary: #262624;
$green-medium: #28583e;

.app {
  background-color: $light-main;
  color: $dark-main;

  header,
  footer {
    background-color: $light-main;
    color: $dark-main;
  }
}

.app.dark-mode {
  background-color: $dark-main;
  color: $light-main;

  // header & footer
  header,
  footer {
    background-color: $dark-main;
    color: $light-main;
  }

  header {
    nav {
      color: $light-main;
      background-color: $dark-secondary;
    }
  }

  .header-top {
    .top-logo {
      svg {
        g {
          fill: $light-main !important;
        }
      }
    }

    .header-top-left {
      path {
        stroke: $light-main;
        fill: $dark-main;
      }
    }

    .header-top-right {
      color: $dark-main;
      path {
        stroke: $light-main;
        fill: $dark-main;
      }

      .dropdown-menu {
        background-color: $dark-main;
        g {
          path {
            fill: $light-main;
          }
        }
        path {
          fill: none;
        }
        #user-admin {
          path {
            stroke: none;
          }
        }
        a {
          color: $light-main;
        }

        li {
          &:hover {
            background-color: $green-medium;
          }
        }

        &::before {
          background-color: $dark-main;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
      }
    }
  }

  .footer-bottom {
    color: $light-main;
    background-color: $dark-secondary;
  }

  .footer-first {
    div {
      svg {
        fill: $light-main;
      }
    }
    .linkedin-svg {
      path {
        fill: $light-main !important;
      }
    }
  }

  .footer-logo {
    svg {
      g {
        fill: $light-main !important;
      }
    }
  }

  // second header

  .top-left-second-header {
    path {
      fill: $dark-secondary;
    }
  }

  .bottom-right-second-header {
    path {
      fill: $dark-main;
    }
  }

  // home

  .home-hero {
    position: relative;
    .home-hero-layout {
      h1 {
        position: relative;
        z-index: 2;
        color: $light-main;
        text-shadow: 0 3px 0 rgba(0, 0, 0, 0.9);
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: transparent;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom left, #000000, $dark-main);
      opacity: 0.4;
    }
  }

  .home-about-us-container {
    .home-about-us-types {
      div {
        background-color: $green-medium;

        path {
          fill: $light-main;
        }
      }
    }
  }

  .home-recent-products-container {
    .recent-products-header {
      h1,
      h3 {
        color: $light-main;
      }
    }
    svg {
      fill: $light-main;
    }

    .home-see-all {
      a {
        background-color: $green-medium;
      }
    }

    .recent-campsites-card {
      background-color: $green-medium;
    }
  }

  // products

  .products-filter-container {
    background-color: $dark-main;

    .products-city-select {
      background-color: $dark-secondary;
    }
  }

  .products-top-filter-left {
    path {
      fill: $light-main;
    }
  }

  .products-top-filter-right {
    select,
    input {
      background-color: $dark-secondary;
    }

    svg {
      path {
        fill: $light-main;
      }
    }
  }

  .main-product-card {
    background-color: $dark-secondary;

    svg,
    path {
      fill: $light-main;
    }
  }

  // single product page

  .single-prod-navigation {
    path {
      stroke: $light-main;
    }
  }

  .small-details {
    path {
      fill: $light-main;
    }
  }

  .single-product-slider {
    .single-prod-slider-top {
      background-color: $dark-secondary;
      border: 1px solid $dark-secondary;
    }
  }

  .single-prod-slider-thumbnails img {
    border: 3px solid $dark-secondary;
  }

  .single-prod-user {
    background-color: $dark-secondary;

    path {
      fill: $light-main;
    }
  }

  .single-prod-similar {
    background-color: $dark-secondary;
    .single-product-card-info {
      background-color: $green-medium;
    }
  }

  // campsites

  .campsite-search-filter-container {
    input {
      background-color: $dark-secondary;
    }

    .campsite-search-filter-filter {
      background-color: $dark-secondary;
      color: $light-main;
      path {
        fill: $light-main;
      }
    }
  }

  .single-campsite-filter-modal {
    background-color: $dark-main;

    input,
    select {
      background-color: $dark-main;
      border: 1px solid #ccc;
    }
  }

  .campsite-ad-item {
    .campsite-card-pitch {
      background-color: $green-medium;
    }

    .campsite-card-welcome {
      svg {
        fill: $light-main;
      }
    }

    .opacity-50 {
      opacity: 0.3;
    }
  }

  // single campsite page

  .single-camp-share {
    path {
      fill: $light-main;
    }
  }

  .single-camp-header-buttons {
    button:first-child {
      path {
        fill: $light-main;
      }
    }
    button:last-child {
      color: rgb(255, 113, 113);
      path {
        fill: rgb(255, 113, 113);
      }
    }
  }

  .single-camp-welcome {
    background-color: $dark-secondary;

    path {
      fill: $light-main;
    }
  }

  #amenities,
  #activities {
    path,
    ellipse,
    polygon {
      fill: $light-main;
    }
  }

  .single-camp-location {
    iframe {
      filter: invert(92%) contrast(83%);
    }
  }

  .single-camp-add-review {
    color: $light-main;
    input,
    textarea,
    .upload-photo {
      background-color: $dark-secondary;
      border: 1px solid #ccc;
    }
  }

  // blog

  .blog-top-section {
    h2 {
      path {
        fill: $light-main;
      }
    }
  }

  .blog-filter-search {
    input {
      background-color: $dark-secondary;
    }

    path {
      stroke: $light-main;
    }
  }

  .blog-filter {
    &.active {
      background-color: $dark-main;
    }
    ul {
      path {
        fill: $light-main;
      }
    }
  }

  // single blog page

  .single-blog-page-buttons {
    button {
      svg {
        fill: $light-main;
      }
    }

    div {
      svg {
        fill: red;
      }
    }
  }

  .blog-socials {
    path {
      fill: $light-main;
    }
  }

  .single-blog-add-comment {
    input,
    textarea,
    .upload-photo {
      background-color: $dark-secondary;
      border: 1px solid #ccc;
    }
  }

  // profile
  .profile-form,
  .profile-user {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 1px rgb(36, 36, 36), 0 10px 20px rgb(24, 24, 24);

    input:read-only {
      color: rgba($light-main, 0.4);
    }
  }
}
