.blog-page-recent-card {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;

  img {
    min-width: 70px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
  }

  span {
    font-size: 12px;
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
  }
}
