header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #444444;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 80px;
  justify-content: center;
  background-color: #444444;
  color: #fff;
}

.header-desktop-nav {
  display: flex;
  font-size: 18px;
  align-items: center;

  .logo {
    margin-right: 40px;
  }

  svg {
    width: 115px;
  }

  ul {
    display: flex;
    gap: 40px;

    li {
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease-in-out;

      &.choosen-header-nav {
        border-bottom: 2px solid orange;
      }

      &:hover {
        border-bottom: 2px solid orange;
      }
    }
  }

  @media only screen and (max-width: 650px) {
    display: none;
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .mobile-nav-bottom {
    width: 100%;
    display: flex;
    color: #242424;
    justify-content: center;

    div {
      flex-direction: column;
      p {
        margin-bottom: 8px;
      }
    }
  }

  .mobile-nav-top {
    width: 100%;
    margin-bottom: 40px;
    ul {
      width: 100%;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 20px;
      font-weight: 500;
      gap: 10px;
      letter-spacing: 1px;

      a {
        margin: 0;
        padding: 0;
        width: auto;
      }
    }
  }
}

.header-auth {
  display: flex;
  gap: 4px;
}

// cart icon

.cart-icon {
  display: block;
  // border: 1px solid #000;
  // border-radius: 8px;
  // padding: 5px;
  // height: 20px;
  position: relative;
  cursor: pointer;

  span {
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    display: block;
    position: absolute;
    top: -13px;
    right: -9px;
    background-color: red;
    color: #fff;
    border-radius: 100%;
    font-weight: 800;
  }
}

.menu-block {
  position: relative;

  img {
    border-radius: 9999px;
    border: 1px solid #9b9b9b;
    cursor: pointer;
  }

  span {
    font-size: 12px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 4px;
    cursor: pointer;
  }

  &:hover {
    img {
      outline: 2px solid #9b9b9b;
    }
  }
}

// mobile menu

.mobile-menu-bg-none {
  display: none;
}

.mobile-menu-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 8;
  left: 0;
  top: 0;

  @media only screen and (min-width: 650px) {
    display: none;
  }
}

.mobile-menu {
  height: 100vh;
  padding: 70px 20px;
  width: 100%;
  background-color: #ebe9df;
  position: fixed;
  right: -110%;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  .close {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    fill: #242424;

    &.closed {
      display: none;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #242424;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 10;
    a {
      color: #242424;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }

  &.active {
    right: 0;
  }

  @media only screen and (min-width: 650px) {
    display: none;
  }
}

.hamburger-menu {
  // width: 35px;
  // height: 35px;
  @media only screen and (min-width: 651px) {
    display: none !important;
  }
}

.header-top {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .top-logo {
    svg {
      max-width: 80px;
      height: 70px;
    }
  }

  .header-top-left {
    display: flex;
    gap: 20px;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }
  }

  .header-top-right {
    display: flex;
    gap: 25px;
    align-items: center;

    .header-top-right-cart {
      margin-top: 8px;
    }
  }
}
