.recent-campsites-card {
  background-color: #fcf9f4;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
  }

  p {
    font-weight: 300;
    margin-bottom: 10px;
    max-height: 96px;
    overflow: hidden;
  }

  .recent-campsites-activities {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 78px;
    height: 78px;
    overflow: hidden;

    span {
      font-size: 14px;
      display: inline-block;
      padding: 4px 6px;
      height: auto;
      border-radius: 30px;
      border: 1px solid #000;
      max-height: 34px;
    }
  }

  .recent-camp-see-more {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    font-weight: 500;
    color: #ffa500;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .recent-camp-see-more {
      scale: (1.05);
    }
  }
}
