.search-header-container {
  position: fixed;
  left: 0;
  top: -700px;
  background-color: #ebe9df;
  width: 100%;
  z-index: 25;
  transition: all 0.3s ease-in-out;
  &.active {
    top: 0;
  }
}

.search-layout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px;
  display: block !important;
  width: 100%;

  h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.select-search {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #444444;
  select {
    max-width: 145px;
    width: 100%;
    padding: 8px 10px;
    border-right: 1px solid #444444;
    border-radius: 6px 0 0 6px;
    background-color: #fcf9f4;
  }

  input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 0 6px 6px 0;
    background-color: #fcf9f4;
  }

  svg {
    position: absolute;
    right: 8px;
    top: 9px;
  }
}

.quick-search {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  font-size: 14px;

  span {
    min-width: 90px;
  }

  div {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  a {
    font-weight: 500;
  }
}

.searched-products {
  margin-top: 30px;
  display: block !important;
}

.searched-products-cards-container {
  display: flex;
  overflow: auto;
  gap: 20px;
  padding: 0 0 20px 0;
  div {
    max-width: 150px;

    img {
      border-radius: 12px;
      margin-bottom: 10px;
      min-width: 150px;
      max-width: 150px;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
}
