.single-product-layout {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.single-prod-navigation {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;

  div {
    display: flex;
    gap: 10px;
  }

  svg {
    min-width: 20px;
  }
}

.single-product-slider {
  max-width: 400px;
  user-select: none;

  .single-prod-slider-top {
    border: 1px solid #fcf9f4;
    border-radius: 15px;

    background-color: #fcf9f4;
    margin-bottom: 10px;
    div:first-child {
      display: flex;
      align-items: center;
      max-height: 500px;
      height: 100%;
    }
  }
  .single-product-slider-main-photo {
    display: flex;
    align-items: center;
    max-height: 500px;
    object-fit: contain;
  }

  @media only screen and (max-width: 850px) {
    max-width: 700px;
    width: 100%;
    .single-prod-slider-top {
      div:first-child {
        display: flex;
        align-items: center;
        max-height: 600px;
        height: 100%;
        align-items: center;
      }
    }
    .single-product-slider-main-photo {
      margin: 0 auto;
    }
  }
}

.single-prod-slider-bottom {
  background-color: transparent;

  div {
    background-color: transparent;
  }

  .swiper-wrapper {
    height: 94px;
    border-radius: 10px;
  }

  .swiper-slide-thumb-active {
    img {
      border: 3px solid #669a3e;
      padding: 0;
      border-radius: 10px;
    }
  }
}

.single-prod-slider-thumbnails {
  div {
    background-color: transparent;
  }
  .swiper-wrapper {
    height: 94px;
    border-radius: 10px;
  }

  img {
    border: 3px solid #ccc;
    padding: 2px;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

  @media only screen and (max-width: 850px) {
    max-width: 410px;
  }
}

.single-product-middle {
  display: flex;
  gap: 50px;
  margin-top: 15px;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.single-prod-main-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  .small-details {
    div:first-child {
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    div:last-child {
      margin-top: 5px;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
    .small-details-created-at {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .single-prod-labels {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    span {
      background-color: #c74f2d;
      color: #fff;
      display: inline-block;
      padding: 4px 7px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .single-prod-main-title {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 600;

    @media only screen and (max-width: 850px) {
      font-size: 16px;
      span {
        font-size: 14px;
      }
    }
  }

  .single-prod-main-desc {
    margin-bottom: 40px;
  }

  .single-prod-main-price {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    span {
      font-size: 24px;
      font-weight: 600;
    }

    button {
      padding: 8px 10px;
      background-color: #c74f2d;
      color: #fff;
      border-radius: 8px;
    }

    @media only screen and (max-width: 850px) {
      padding: 0;
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .stock-and-stuff {
    margin-bottom: 20px;
    p {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: 10px 0 4px 0;
      border-bottom: 1px solid #ccc;
    }
    span {
      font-weight: 500;
    }
    @media only screen and (max-width: 850px) {
      order: 1;
    }
  }
}

.single-product-middle-middle {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
  width: 100%;
}

.single-prod-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin-bottom: 30px;
  gap: 50px;
  padding: 20px;
  background-color: #fcf9f4;
  .user-details-product {
    display: flex;
  }
  a {
    font-weight: 600;
    span {
      font-weight: 400;
      font-size: 14px;
    }
  }

  img {
    border-radius: 100%;
    margin-right: 15px;
    min-width: 60px;
    min-height: 60px;
    object-fit: cover;
  }

  h2,
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
  }

  .user-name-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 15px;
  }
}

.single-prod-social-share {
  h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }

  .prod-social-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  a {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
  }

  .social-copy {
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #999999;
    }
  }
}

.single-prod-similar {
  background-color: #fcf9f4;
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 50px;
}

.single-prod-similar-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0 20px 0;
  gap: 20px;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  a {
    display: inline-block;
    // padding: 0 0 5px 0;
    text-decoration: underline;
    text-align: right;
  }

  @media screen and (max-width: 650px) {
    h1 {
      font-size: 18px;
    }
  }
}

.single-product-edit-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  max-width: 500px;
  width: 100%;
  max-height: 80%;
  overflow: auto;
  background-color: #fcf9f4;
  padding: 0 20px;

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
  }

  text-align: center;

  .single-product-edit-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      input,
      select,
      textarea {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        border-radius: 15px;
        padding: 5px 10px;
      }

      label {
        padding: 15px 0;
        border-bottom: 2px solid #ccc;
      }

      input,
      textarea,
      select {
        width: 100%;
        margin: 5px 0 5px 0;
      }
    }
  }

  .single-prod-edit-modal-buttons {
    display: flex;
    flex-direction: column;
    button:first-child {
      background-color: #669a3e;
      color: #fff;
      padding: 7px 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      font-size: 18px;
    }
    button:last-child {
      background-color: #c74f2d;
      color: #fff;
      font-size: 18px;
      padding: 7px 10px;
      border-radius: 5px;
      margin-bottom: 15px;
    }
  }
}

.single-prod-remove-modal {
  width: 220px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 10px;
  button {
    padding: 7px 14px;
    border-radius: 5px;
  }

  button:first-child {
    border: 2px solid #ccc;
  }

  button:last-child {
    background-color: #c74f2d;
    color: #fff;
  }
}

.single-product-edit-remove-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div:first-child {
    padding: 0 !important;
    border-bottom: none !important;
  }
}
